packages:
  yum:
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    gcc: []
    gcc-c++: [] 
    kernel-devel: []
    libevent-devel: []
    libffi-devel: []
    mysql: []

files:
  "/etc/httpd/conf.d/cors.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      <Location "/">
        Header set Access-Control-Allow-Origin: *
        Header set Access-Control-Allow-Methods: "POST, GET, PUT, DELETE, OPTIONS"
        Header add Access-Control-Allow-Headers: "Authorization, Content-Type, Accept"
        Header set Access-Control-Allow-Credentials: true
 
        SetOutputFilter DEFLATE
      </Location>

container_commands:
  01_requirements_installer:
    command: "source /opt/python/run/venv/bin/activate && pip install -r requirements.txt"
    leader_only: true
  02_db_init:
    command: "source /opt/python/run/venv/bin/activate && python manage.py db init"
    leader_only: true
  03_db_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py db migrate"
    leader_only: true
  04_db_upgrade:
    command: "source /opt/python/run/venv/bin/activate && python manage.py db upgrade"
    leader_only: true
  05_create_nltk_data:
    command: "mkdir -p nltk_data"
    leader_only: true
  06_download_nltk_data:
    command: "source /opt/python/run/venv/bin/activate && python -m nltk.downloader -d ./nltk_data/ all"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application.py
    NumProcesses: 3
    NumThreads: 20
